In [1]:
print ("hello world")

# Escape Sequence

print ("line a \n line b")
print("line a \t line b")
print("this is backslash\\")
print ("helll\bo")

print (" \\\" \\\' ")

hello world
line a
 line b
line a 	 line b
this is backslash\
helllo
 \" \'

In [2]:
# Exercise 1 Chapter 1
print("this is \\\\ double backslash")
print ("these are /\/\/\ mountains")
print("he is \t awesome")
print(" \\\" \\n \\t \\\' ")

this is \\ double backslash
these are /\/\/\ mountains
he is 	 awesome
 \" \n \t \'

In [7]:
#Calculations
print(2+5)
print(7-2)
print((9*8)*2/4)

7
5
36.0

In [11]:
# Concatenation of strings
firstname = "manan"
lastname = "jungwal"
fullname = firstname + lastname
print (fullname)

mananjungwal

In [12]:
# input from user
name = input("what is ur name")
age = input("what is ur age")
print(name + age)

what is ur namemanan
what is ur agejungwal
mananjungwal

In [13]:
# int() function
number1 =int (input("1st number is"))
number2 = int(input("2nd number is"))
total = number1 + number2
print ("total_number"+ str(total))

1st number is9
2nd number is8
total_number17

In [15]:
name , age = "manan" , "21"
print("hello"+name+"ur age is"+age)

hellomananur age is21

In [17]:
#take 2 input at once
name , age = input("ur name is and age").split()
print(name)
print(age)

ur name is and agemanan 21
manan
21

In [20]:
# Chapter 2 exercise 1 
# 1st part
numb1 = int(input("enter 1st number"))
numb2 = int(input("enter 2nd number"))
numb3 = int(input("enter 3rd number"))
print((numb1 + numb2 + numb3)/3)

enter 1st number6
enter 2nd number8
enter 3rd number16
10.0

In [34]:
# Slicing of string
name = "ABCDEFGHIJ"
print(name[2:3])
print(name[1:])
print(name[:3])
# step argument
print(name[1:6:3])

C
BCDEFGHIJ
ABC
BE

In [1]:
# chapter 2 exercise 2
name = input("enter ur name")
print(name[::-1])

enter ur namemanan
nanam

In [6]:
# string methods
name = "ManAN JunGwAl"
print(len(name)) #total words
print(name.lower()) #all in small alphabets
print(name.upper()) #all in big alpha.
print(name.title()) #1st alpha capital rest small
print(name.count("a")) #to count 1 particular alphabet

13
manan jungwal
MANAN JUNGWAL
Manan Jungwal
1

In [23]:
# Chapter 2 exercise 3
name , single_character = input("enter ur name , alphabet").split(",")
print("lenght of ur name is" , str(len(name)))
print("alphabet is repeated" , str(single_character.count("A")))

enter ur name , alphabetMANAN,A
lenght of ur name is 5
alphabet is repeated 1

In [27]:
# strip and replace to remove spaces
name="    MA   nan   "
dots="........."
print(name + dots)
print(name.lstrip()+dots) # removes left side space
print(name.rstrip()+dots) #removes right side space
print(name.strip()+dots) # removes both left and right
print(name.replace(" ","")+dots) #removes space in between variable

    MA   nan   .........
MA   nan   .........
    MA   nan.........
MA   nan.........
MAnan.........

In [34]:
# find and replace method
string = "she is beautiful and she is good dancer"
print(string.replace("is","was",1)) # replace a word with something . 1 shows which is need to be replaced
print(string.find("is",5)) # to find the position of something . 5 specifies from which position given word needs to be found

she was beautiful and she is good dancer
25

In [35]:
# center method - to add something on sides of string
name=input("enter ur name") # name="manan"
print(name.center(len(name)+10 , "#")) # print(name.center(13 , "#"))

enter ur namemanan
#####manan#####

In [37]:
# Assignment operator
name = "manan"
name += "jungwal"
print(name)
age = 21
age *= 2
print(age)

mananjungwal
42

In [41]:
# if else statement
age = int(input("ur age is :"))
if age>15 :
  print("you are eligible")
else:
  print("you are not eligible")

ur age is :12
you are not eligible

In [45]:
# chapter 3 exercise 1
winning_number=50
number=int(input("guess a number:"))
if number==winning_number:
  print("you win")
elif number>winning_number:
  print("too high")
else:
  print("too low")

guess a number:69
too high

In [46]:
# and , or opertor . for and operator both condition shud be true . then final answer is true . for or only 1 is needed to be true
name = "manan"
age = 21
if name=="manan" and age==21:
  print("condition true")
else:
  print("condition false")

condition true

In [51]:
# chapter 3 exercise 2
name=input("enter ur name")
age=int(input("enter ur age"))
if age>10 and (name[0]=='a'or name[0]=='A'):
  print("u can watch coco")
else:
  print("u cant watch coco")

enter ur nameaman
enter ur age19
u can watch coco

In [53]:
# if elif else statement
age=int(input("enter ur age"))
if 0<age<=3:
  print("ticket cost - 0")
elif 3<age<=10:
  print("ticket cost - 150")
elif 10<age<=60:
  print("ticket coat - 250")
else:
  print("ticket cost - 200")

enter ur age35
ticket coat - 250

In [58]:
# if with in
name = "manan"
if "z" in "manan":
  print("z is present")
else:
  print("z is absent")

z is absent

In [59]:
# check empty or not
name = input("enter ur name")
if name:
  print("your name is")
else:
  print("you didnt type name")

enter ur name
you didnt type name

In [63]:
# while loop
i = 1
while i<=10:

  print("hello world")
  i=i+1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [67]:
# sum of 1-20 using while loops
total=0
i=1
while i<=20:
  total+=i
  i=i+1
print(total)

210

In [68]:
#chapter 3 exercise 3
number=int(input("enter a natural number"))
total=0
i=1
while i<=number:
  total+=i
  i=i+1
print(total)

enter a natural number5
15

In [72]:
# chapter 3 exercise 4
number=input("enter a number")
total=0
i=0
while i<len(number):
  total+=int(number[i])
  i=i+1
print(total)

enter a number234
9

In [82]:
# chapter 3 exercise 5
name=input("enter a name")
temp_var=""
i=0
while i<len(name):
  if name[i] not in temp_var:
    temp_var +=name[i]
    print(f"{name[i]} : {name.count(name[i])}")
  i+=1

enter a namemanan
m : 1
a : 2
n : 2

In [ ]:
# infinite loop
while True:
  print("hello world")

In [85]:
# for loop
for i in range(5):
  print("manan")
  print("lpu")

manan
lpu
manan
lpu
manan
lpu
manan
lpu
manan
lpu